* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
}

.container {
    background-color: #111;
    overflow: hidden;
}

.salute {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.saluteTextContainer {
    flex: 3.5;
}
.saluteText {
    color: #333;
    font-size: 50vw;
    cursor: default;
}

.saluteImageContainer {
    flex: 1;
}
.saluteImage {
    width: 100%;
    height: 100%;
}

.nameContainer {
    height: 100vh;
    background: url("./img/bg2.png") rebeccapurple;

    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    font-size: 18vw;
    color: #333;
    cursor: default;
    text-align: center;
}

.jobTitleContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.dark {
    background: url("./img/bg1.png");
}

.jobTitle {
    font-size: 10vw;
    color: #333;
    cursor: default;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 30vh;
    padding: 0px 100px;
}

.projectsTitle {
    font-size: 10vw;
    color: #333;
    text-align: center;
    width: 100%;
}
.project {
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 100px;
}

/* colocando row-reverse nos projetos pares */
.project:nth-child(2n) {
    flex-direction: row-reverse;
}

.phone {
    flex: 1;
    width: 300px;
    height: 600px;
    position: relative;
}

/* colocando a div da imagem em cima da imagem do telefone */
.phoneAcreen {
    width: 264px;
    height: 567px;
    background-color: black;
    position: absolute;
    top: 17px;
    left: 18px;
    border-radius: 28px;
    overflow: scroll;
}

/* tirando a barra de rolagem */
.phoneAcreen::-webkit-scrollbar {
    display: none;
}
/* ajustando a imagem do projeto a div que estã em cima do telefone */
.phoneApp {
    width: 100%;
}

/* felx 1 coloca um tamanho no container em relação ao flex do outro objeto */
.projectDetail {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.projectTitle {
    font-size: 5vw;
    color: #333;
    text-align: center;
}

.projectDescription {
    font-size: 18px;
    color: #555;
    text-align: justify;
    line-height: 36px;
}

.projectDescription span {
    text-decoration: underline rebeccapurple;
}

.projectButton {
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #555;
    color: #555;
    cursor: pointer;
    position: relative;

    text-decoration: none;

    /* para a animação nao aparecer do lado de fora */
    overflow: hidden;
    font-size: 18px;
}

.projectButton::after {
    content: "Demo";
    width: 100%;
    height: 100%;

    background-color: #555;
    color: #111;

    /* posicionar a esquerda */
    top: 0;
    left: -100%;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.6s all ease;
}

.projectButton:hover::after {
    left: 0;
}

.laptop {
    width: 600px;
    height: 379px;
    flex: 1;
    position: relative;
}

.laptopScreen {
    width: 451px;
    height: 283px;
    position: absolute;
    left: 68px;
    top: 18px;

    overflow: scroll;
    background-color: black;
}

/* tirando a barra de rolagem */
.laptopScreen::-webkit-scrollbar {
    display: none;
}

.laptopApp {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.githubContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.githubTitle {
    font-size: 100px;
    color: #333;
    transition: 0.3s all ease;
}

.githubLink {
    font-size: 100px;
    color: #333;
    transition: 0.3s all ease;
    font-weight: bold;
    text-decoration: underline #195b2c;
}
.githubLink:hover {
    color: #195b2c;
    cursor: pointer;
}

.githubChart {
    width: 820px;
    text-align: center;
}

.dates {
    padding: 10px;
    color: #555;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.boxContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.box {
    width: 15px;
    height: 15px;
    background-color: #171c25;
    border-radius: 2px;
    cursor: pointer;
    transition: 3s all ease;
}

.active:nth-child(4n) {
    background-color: #195b2c;
}

.githubChart:hover .active:nth-child(2n + 1) {
    background-color: #195b2c;
}

.githubChart:hover .active:nth-child(2n) {
    background-color: #063f24;
}

.githubSm {
    display: none;
}

.githubTitle {
    text-align: center;
    font-size: 6vw;
}
.githubSm img {
    background-color: white;
    width: 100px;
    border-radius: 50%;
}

.skillsContainer {
    height: 100vh;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;

    gap: 80px;
}
.skillTextContainer {
    text-align: center;
}
.skillTitle {
    font-size: 6em;
    color: #333;
}
.skillSubTitle {
    color: #555;
    letter-spacing: 2.7px;
    font-size: 22px;
}
.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px;
}
.skill {
    width: 100px;
    height: 100px;

    border: 2px solid #555;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}
.skill img {
    width: 60%;
    height: 60%;

    object-fit: cover;
}

.percentual {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    color: #333;

    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: 0.3s ease all;

    font-size: 22px;
    font-weight: bold;
}

.percentual:hover {
    opacity: 1;
}

.contactContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.contactTitle {
    font-size: 6vw;
    color: #333;
}

.perfil {
    width: 180px;
    height: 180px;
    overflow: hidden;
    border-radius: 50%;
}
.perfil img {
    width: 100%;
    object-fit: cover;
}

.sociais {
    display: flex;
    gap: 12px;
}
.sociais a {
    width: 50px;
    height: 50px;
    overflow: hidden;
}
.sociais a img {
    width: 100%;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}
.info a {
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: rgb(190, 190, 190);
    font-weight: 600;
    font-size: 18px;
}
.info a:nth-child(2) {
    pointer-events: none;
}
.info a:nth-child(3) {
    pointer-events: none;
}
.info a img {
    width: 40px;
    object-fit: cover;
}

/* RESPONSIVIDADE */
@media screen and (max-width: 1024px) {
    .githubSm {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        color: #555;
        font-size: 30px;
        text-align: center;
    }

    .projects {
        padding: 0 30px;
        text-align: center;
    }

    .project {
        flex-direction: column;
        height: max-content;
    }

    .phone {
        overflow: auto;
    }

    .projectDescription {
        text-align: center;
        font-size: 26px;
    }

    .project:nth-child(2n) {
        flex-direction: column;
    }

    .phone,
    .laptop,
    .skill {
        transform: none !important;
    }

    .githubChart {
        display: none;
    }
}

@media (max-width: 425px) {
    .githubContainer {
        display: none;
    }
    .projects {
        padding: 0 10px;
    }

    .laptop {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .molde {
        width: 400px;
        height: 230px;
    }

    .laptopScreen {
        width: 298px;
        height: 176px;
        left: 146px;
        top: 11px;
        position: absolute;
    }

    .jobTitle {
        font-size: 50px;
    }
    .skillTitle {
        font-size: 50px;
    }
    .projectsTitle {
        font-size: 50px;
    }
    .projectTitle {
        font-size: 30px;
    }
    .contactTitle {
        font-size: 50px;
    }

    .projectDescription{
        font-size: 18px;
        text-align: center;
        height: auto;
    }

    .skillsContainer{
        align-items: center;
        justify-content: center;
    }

    .skills{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .contactContainer{
        justify-content: center;
        gap: 100px;
    }

}
